function afterSetExtremes(e) {
  var chart = $('#graph').highcharts();
  
  chart.showLoading("Chargement des données");
  $('#btnMax').text('...');
  $('#btnMin').text('...');
  $('#btnAverage').text('...');
  
  $.getJSON("api/values?start=" + Math.round(e.min) + "&end=" + Math.round(e.max), function(data){
  	var i, j, series = chart.series, d = data.data;
    for(i = 0; i < d.length; i++) {
      for(j = 0; j < series.length; j++) {
        if (series[j].name == d[i].name) {
          series[j].setData(d[i].data);
      	}
      }
    }
  	chart.hideLoading();
  	showStats(data.statistics);
  });
}

function drawChart(data) {
  var d = new Date();
  data[0].data = [].concat(data[0].data, [[Date.UTC(d.getFullYear(), d.getMonth(), d.getDate(), d.getHours(), d.getMinutes() + 1), null, null, null, null]]); // max value of navigator is current time (for every zoom)
  
  Highcharts.setOptions({
	lang: {
	  decimalPoint: '.',
      thousandsSep: "'",
	}
  });
  	
  var chart = $('#graph').highcharts('StockChart', {
  	navigator: {
  	  adaptToUpdatedData: false,
  	  series: {
  	  	data: data[0].data // only one serie!
  	  }
  	},
  	rangeSelector: {
  	  buttons: [{
  	  	type: 'hour',
  	  	count: 3,
  	  	text: '3 heures'
  	  }, {
  	  	type: 'day',
  	  	count: 1,
  	  	text: '1 jour'
  	  }, {
  	  	type: 'week',
  	  	count: 1,
  	  	text: '1 semaine'
  	  }, {
  	  	type: 'month',
  	  	count: 1,
  	  	text: '1 mois'
  	  }, {
  	  	type: 'year',
  	  	count: 1,
  	  	text: '1 année'
  	  }, {
  	  	type: 'all',
  	  	text: 'Tout'
  	  }],
  	  buttonTheme: {
        width: null
      },
  	  inputEnabled: false,
  	  selected: 5
  	},
  	xAxis: {
  	  events: {
  	  	afterSetExtremes: afterSetExtremes
  	  },
  	  minRange: 3600*1000 // 1 hour
  	},
  	yAxis: {
  	  floor: 0
  	},
  	scrollbar: {
  	  liveRedraw: false
  	},
    series: data
  });
}
  
function addLastPoint() {
  $.ajax({
    type: 'GET',
  	url: 'api/lastpoint'
  }).done(function(data){
    var i, j, series = $('#graph').highcharts().series;
    for(i = 0; i < data.length; i++) {
      for(j = 0; j < series.length; j++) {
        if (series[j].name == data[i].name) {
      	  series[j].addPoint(data[i].data, true, true);
      	}
      }
    }
  });
}
  
function showStats(stats) {
  var max = '', min = '', average = '', i = 0;
  	
  $('#btnMax').text(stats[i].max + ' W');
  $('#btnMin').text(stats[i].min + ' W');
  $('#btnAverage').text(stats[i].average + ' W');
  	
  for (i; i < stats.length; i++) {
    max += stats[i].name + ': <span class="label label-success" style="float:right">' + stats[i].max + ' W</span><br/>';
  	min += stats[i].name + ': <span class="label label-warning" style="float:right">' + stats[i].min + ' W</span><br/>';
  	average += stats[i].name + ': <span class="label label-primary" style="float:right">' + stats[i].average + ' W</span><br/>';
  }
  	
  $('#btnMax').attr('data-content', max);
  $('#btnMin').attr('data-content', min);
  $('#btnAverage').attr('data-content', average);
}
  
$(function(){
  $.ajax({
  	type: 'GET',
	url: 'api/values'
  }).done(function(data){
	drawChart(data.data);
	showStats(data.statistics);
	$('[data-toggle="popover"]').popover({
      trigger: 'hover',
      placement: 'top'
    });
  });
});