<div class="row" style="padding-top: 20px;">
  <div class="col-md-10">
  	<img src="http://ingenierie.he-arc.ch/sites/all/themes/Ingenierie/css/img/ING_HE-ARC_logo.jpg" class="img-responsive" />
  </div>
  <div class="col-md-2">
  	<strong>Échelle:</strong>
  	<div class="input-group input-append dropdown combobox" data-initialize="combobox" id="cbxData">
	  <input type="text" class="form-control">
	  <div class="input-group-btn">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
	    <ul class="dropdown-menu dropdown-menu-right">
	      <li data-value="hourly" data-selected="true"><a href="#">1h (temps réel)</a></li>
	      <li data-value="daily"><a href="#">1 jour</a></li>
	      <li data-value="weekly"><a href="#">1 semaine</a></li>
	      <li data-value="monthly"><a href="#">1 mois (TODO)</a></li>
	      <li data-value="yearly"><a href="#">1 année (TODO)</a></li>
	    </ul>
	  </div>
	</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  	<h3><%= @title %></h3>
  	<div id="graph"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
  	<h4>Valeur maximale</h4>
  	<a href="#" id="btnMax" class="btn btn-lg btn-success btn-block" role="button" data-toggle="popover" data-html="true" data-trigger="focus" title="<strong>Valeurs maximales</strong>" data-content="Chargement...">...</a>	
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
  	<h4>Valeur moyenne</h4>
    <a href="#" id="btnAverage" class="btn btn-lg btn-primary btn-block" role="button" data-toggle="popover" data-html="true" data-trigger="focus" title="<strong>Valeurs moyennes</strong>" data-content="Chargement...">...</a>	
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
  	<h4>Valeur minimale</h4>
  	<a href="#" id="btnMin" class="btn btn-lg btn-warning btn-block" role="button" data-toggle="popover" data-html="true" data-trigger="focus" title="<strong>Valeurs minimales</strong>" data-content="Chargement...">...</a>	
  </div>
  <div class="col-md-1"></div>
</div>
