<div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2">
  	<strong>Échelle:</strong>
  	<div class="input-group input-append dropdown combobox" data-initialize="combobox" id="cbxData">
	  <input type="text" class="form-control">
	  <div class="input-group-btn">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
	    <ul class="dropdown-menu dropdown-menu-right">
	      <li data-value="hourly" data-selected="true"><a href="#">1h (temps réel)</a></li>
	      <li data-value="daily"><a href="#">1 jour</a></li>
	      <li data-value="weekly"><a href="#">1 semaine (TODO)</a></li>
	      <li data-value="monthly"><a href="#">1 mois (TODO)</a></li>
	      <li data-value="yearly"><a href="#">1 année (TODO)</a></li>
	    </ul>
	  </div>
	</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  	<h2><%= @title %></h2>
  	<div id="graph"></div>
  </div>
</div>

<script type="text/javascript">
  function drawChart(data) {
  	Highcharts.setOptions({
	  lang: {
	    decimalPoint: '.',
        thousandsSep: "'",
	  }
	});
  	
  	var chart = $('#graph').highcharts('StockChart', {
  	  rangeSelector: {
  	  	enabled: false
  	  },
  	  navigator: {
  	    enabled: false
  	  },
  	  series: data
    });
    <% if params[:period] && params[:period] == 'hourly' %>
      setInterval(function(){
        addLastPoint();
      }, 60000);
    <% end %>
  }
  
  function addLastPoint() {
  	$.ajax({
  	  type: 'GET',
  	  url: 'api/lastpoint?<%= @json_params.to_query %>'
  	}).done(function(data){
      var i, j, series = $('#graph').highcharts().series;
      for(i = 0; i < data.length; i++) {
      	for(j = 0; j < series.length; j++) {
      	  if (series[j].name == data[i].name) {
      	  	series[j].addPoint(data[i].data, true, true);
      	  }
      	}
      }
  	});
  }
  
  $(function(){
  	$.ajax({
	  type: 'GET',
	  url: 'api/values?<%= @json_params.to_query %>'
	}).done(function(data){
	  drawChart(data);
	});
	
	<% if params[:period] %>
	  $('#cbxData').combobox('selectByValue', '<%= params[:period] %>');
	<% end %>
	$('.combobox').on('changed.fu.combobox', function (evt, data) {
	  window.location.href = '/?period=' + $('#cbxData').combobox('selectedItem').value;
	});
  });
  
</script>
