<div class="row" style="padding-top: 20px;">
  <div class="col-md-12">
  	<img src="http://ingenierie.he-arc.ch/sites/all/themes/Ingenierie/css/img/ING_HE-ARC_logo.jpg" class="img-responsive" />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  	<h3><%= @title %></h3>
  	<div id="graph"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
  	<h4>Valeur maximale</h4>
  	<a href="#" id="btnMax" class="btn btn-lg btn-success btn-block" role="button" data-toggle="popover" data-html="true" data-trigger="focus" title="<strong>Valeurs maximales</strong>" data-content="Chargement...">...</a>	
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
  	<h4>Valeur moyenne</h4>
    <a href="#" id="btnAverage" class="btn btn-lg btn-primary btn-block" role="button" data-toggle="popover" data-html="true" data-trigger="focus" title="<strong>Valeurs moyennes</strong>" data-content="Chargement...">...</a>	
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
  	<h4>Valeur minimale</h4>
  	<a href="#" id="btnMin" class="btn btn-lg btn-warning btn-block" role="button" data-toggle="popover" data-html="true" data-trigger="focus" title="<strong>Valeurs minimales</strong>" data-content="Chargement...">...</a>	
  </div>
  <div class="col-md-1"></div>
</div>
